<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fusionx.lightirc"
          android:versionCode="28"
          android:versionName="2.8.2">

    <uses-sdk
            android:minSdkVersion="9"
            android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/Light">
        <activity
                android:name=".ui.ServerListActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.phone.IRCPhoneActivity"
                android:parentActivityName=".ui.ServerListActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.ServerListActivity"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.tablet.IRCTabletActivity"
                android:parentActivityName=".ui.ServerListActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.ServerListActivity"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.ChannelListActivity"
                android:label="@string/server_settings_auto_join_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.AppPreferenceActivity"
                android:label="@string/settings_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.ServerPreferenceActivity"
                android:label="@string/server_settings_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <service android:name=".communication.IRCService"/>
    </application>
</manifest>
